@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 327.3 73.3% 97.1%;
    --foreground: 335.9 69% 30.4%;

    --card: 327.3 73.3% 97.1%;
    --card-foreground: 335.9 69% 30.4%;
 
    --popover: 327.3 73.3% 97.1%;
    --popover-foreground: 335.9 69% 30.4%;
 
    --primary: 335.9 69% 30.4%;
    --primary-foreground: 327.3 73.3% 97.1%;
 
    --secondary: 325.7 77.8% 94.7%;
    --secondary-foreground: 335.9 69% 30.4%;
 
    --muted: 325.7 77.8% 94.7%;
    --muted-foreground: 333.3 71.4% 50.6%;
 
    --accent: 325.7 77.8% 94.7%;
    --accent-foreground: 335.9 69% 30.4%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 325.9 84.6% 89.8%;
    --input: 325.9 84.6% 89.8%;
    --ring: 325.9 84.6% 89.8%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 5.9% 10%;
    --foreground: 325.7 77.8% 94.7%;
 
    --card: 240 5.9% 10%;
    --card-foreground: 325.7 77.8% 94.7%;
 
    --popover: 240 5.9% 10%;
    --popover-foreground: 325.7 77.8% 94.7%;
 
    --primary: 325.7 77.8% 94.7%;
    --primary-foreground: 336.2 83.9% 17.1%;
 
    --secondary: 335.9 69% 30.4%;
    --secondary-foreground: 325.7 77.8% 94.7%;
 
    --muted: 335.9 69% 30.4%;
    --muted-foreground: 327.4 87.1% 81.8%;
 
    --accent: 335.9 69% 30.4%;
    --accent-foreground: 325.7 77.8% 94.7%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 335.8 74.4% 35.3%;
    --input: 335.8 74.4% 35.3%;
    --ring: 335.8 74.4% 35.3%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html, body {
    height: 100%;
  }
}

