name: Build and Deploy Docker to Server

permissions:
  id-token: write # This is required for the tailscale action to request a JWT from GitHub
  contents: read

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      deploy:
        description: "Deploy to server?"
        required: true
        default: false
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ env.tag }}

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Step 3: Generate timestamp tag
      - name: Generate timestamp tag
        id: timestamp
        run: echo "tag=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      # Step 4: Log in to GHCR
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: farrelnajib
          password: ${{ secrets.GHCR_TOKEN }}

      # Step 5: Build and push Docker image to GHCR
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          build-args: |
            GTM_ID=${{ secrets.GTM_ID }}
            GA_ID=${{ secrets.GA_ID }}
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/farrelnajib/new-portfolio:${{ env.tag }}

      # Step 6: Add tag to build summary
      - name: Add tag to build summary
        run: |
          echo "## Build Information" >> $GITHUB_STEP_SUMMARY
          echo "* **Image Tag**: \`${{ env.tag }}\`" >> $GITHUB_STEP_SUMMARY
          echo "* **Image URL**: [ghcr.io/farrelnajib/new-portfolio:${{ env.tag }}](https://ghcr.io/farrelnajib/new-portfolio:${{ env.tag }})" >> $GITHUB_STEP_SUMMARY

  deploy:
    runs-on: ubuntu-latest
    needs:
      - build
    if: ${{ github.event_name == 'push' || github.event.inputs.deploy == 'true' }}
    steps:
      # Step 1: Connect to tailscale
      - name: Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          audience: ${{ secrets.TS_AUDIENCE }}
          tags: tag:ci
          ping: ${{ secrets.SSH_HOST }}

      # Step 2: Deploy to server via SSH
      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            echo '${{ secrets.GHCR_TOKEN }}' | docker login ghcr.io -u farrelnajib --password-stdin
            docker pull ghcr.io/farrelnajib/new-portfolio:${{ needs.build.outputs.image_tag }}
            docker stop new-portfolio || true
            docker rm new-portfolio || true
            docker run -d --name new-portfolio -p ${{ secrets.PORT }}:3000 ghcr.io/farrelnajib/new-portfolio:${{ needs.build.outputs.image_tag }}
            docker image prune -f
